<div class="container-fluid">
  <div class="col-md-6 mx-auto">

    <div class="card rounded-0">
      <div class="card-header">
          <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onsubmit()">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="emailid" placeholder="Ex.abc@gmail.com">
              <mat-error *ngIf="loginForm.get('emailid').hasError('email') && !loginForm.get('emailid').hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginForm.get('emailid').hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput formControlName="pass" type="password">
              <mat-error *ngIf="loginForm.get('pass').hasError('required')">
                Passowrd is <strong>required</strong>
              </mat-error>
               <mat-error *ngIf="loginForm.get('pass').hasError('minLength')">
                Password should be atleast of 6 characters
              </mat-error>
            </mat-form-field>
            <button mat-button color="primary" >Submit</button>
          </form>

      </div>
    </div>        
  </div>
</div>